body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #fff;

  /* reset -скидання */
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* common -спільне*/
button {
  cursor: pointer;
}
.conteiner {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}
/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link .logo-part {
  color: #2e2f42;
}
.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  margin-left: auto;
  font-style: normal;
}
.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* SECTION 1 */
.hero-image {
  background: #2e2f42;
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  padding-bottom: 48px;
  margin: 0 auto;
  max-width: 496px;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  padding-bottom: 188px;
}
.button-box {
  padding: 16px 32px;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* SECTION 2 */
.absent {
  display: none; /*приховати h2 якого не відображ на сайті */
}
.advant-conteiner {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advant-list {
  display: flex;
  align-items: center;
  gap: 24px;
  /* (100%-3*24)/4=7 */
  width: calc(100% - 3 * 24px) / 4;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* SECTION 3 */
.team {
  background: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 120px;
}
.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.who-is {
  padding: 32px 16px;
  text-align: center;
}

/* SECTION 4 */

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  max-width: 1128px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}
.portfolio-item {
  /* (100%-4*24)/6=7 */
  width: calc(100% - 4 * 24px) / 6;
}
.portfolio-content {
  padding: 32px 0 32px 16px;
  text-align: left;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
/* FOOTER */
.page-footer {
  background: #2e2f42;
}
.logo-footer .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  padding-top: 100px;
  margin-bottom: 16px;
}
.footer-text {
  padding-bottom: 100px;
  max-width: 264px;
}
